.videoContainer {
    width: 100%;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
}

.lessonsContainer {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    justify-content: space-around;
    .lesson-heading {
        width: 20%;
        border: 1px solid #333;
        padding: 2%;
        border-radius: 8px;
        margin: 0 1%;
        cursor: pointer;
    }
}

