.profileImage{
    height: 80vh;
    margin: 10vh 0;
    object-fit: contain;
    border-radius: 50%;
}

.imageContainer{
    width: 50%;
}

.introName{
    font-family: Montserrat-Bold;
    font-size: 6rem;
    margin: 5vh 0;
}

.introRole{
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.introDesc {
    color: #cfcfcf;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.introDesc2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.contactBoxes{
    margin: 0;
    padding: 0;
}

.contactBoxes li{
   width: fit-content;
   height: 3em;
   margin-right: 2em; 
}

.contactBoxes li img{
    height: 100%;
    transform: scale(1);
    transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;
 }

.contactBoxes img:hover{
    transform: scale(1.1);
    transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

 .download{
    height: 40% !important;
    margin-left: 0.5rem;
    cursor: pointer;
}

/*tablet */
@media screen and (max-width:1100px){

}

/*phone */
@media screen and (max-width:600px){
    .intro-container{
        height: 100vh;
    }

    .introName{
        font-size: 3rem;
    }

    .introRole{
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0;
    }
    
    .introDesc {
        font-size: 1rem;
    }

    .introDesc2{
        font-size: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 1.5rem;
    }
}
