.lessonCard {
    width: calc(calc(100% / 3) - 20px);
    margin: 10px;
    border: none;
    background-color: rgb(189, 219, 168);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.completed-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
}

.current-lesson {
    background-color: #13bba4;
}